.Card {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 250px;
    -fx-min-height: 400px;
    -fx-effect: dropshadow(gaussian, black, 50, 0, 0, 0);
}
.Card:hover {
    -fx-background-color: rgba(255, 255, 255, 0.6);
}

.BackButton {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 80;
    -fx-min-height: 40;

    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}
.BackButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 80;
    -fx-min-height: 40;
    -fx-effect: dropshadow(gaussian, black,10, 0, 0, 0);
}

.VideoCard {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 200px;
    -fx-min-height: 100px;
    -fx-effect: dropshadow(gaussian, black, 50, 0, 0, 0);
}
.VideoCard:hover {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.Label {
    -fx-font-family: 'SimHei';
    -fx-alignment: center;
    -fx-font-size: 70;
    -fx-fill: rgba(54, 54, 54, 0.055);
}

.Page {
    -fx-background-color: linear-gradient(to right, purple, blue);
    -fx-padding: 80 80 80 80;
    -fx-alignment: center;
}
.Page2 {
    -fx-background-color: linear-gradient(to right, purple, blue);
    -fx-padding: 0 0 0 0;
    -fx-alignment: center;
}

.learnPage {
    -fx-background-color: linear-gradient(to right, purple, blue);
    -fx-padding: 0 0 0 0;
}

#Content {
    -fx-background-radius: 5% 5%;
}


.scrollPane{
    -fx-hbar-policy: never;
}

.scrollPane .viewport {
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-radius: 5% 5%;
}

.listView {
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 5% 5%;
}


#AnswerButton {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 80;
    -fx-min-height: 40;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0, 0.6), 10, 0, 0, 0);
}
#AnswerButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
    -fx-background-radius: 5% 5%;
    -fx-min-width: 80;
    -fx-min-height: 40;
}